<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blanco</title>
    <meta name="description" content="Simple 11ty3 Starter" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/css/tw.css" />
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <style>
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>
  </head>
  <body>
    {{ content | safe }}
    <script src="/js/scripts.js"></script>
  </body>
</html>
